// colors

$black: #252627;
$white: #FFF9FB;
$red: #BB0A21;
$blue: #5BC0EB;
$green: #9BC53D;
$violet: #AA5D8F;

// default

* {
    font-family: Montserrat;
    color: $black;
}

body, html {
    margin: 0;
}

body {
    background-color: #49516F;
}

button {
    cursor: pointer;
    outline: none;

    &:disabled {
        opacity: .25;
        cursor: not-allowed;
    }
}